@font-face {
    font-family: Dunkin;
    src: url(../fonts/Dunkin.otf);
}


body {
    margin: 0;
}

#background {
    width: 100vw;
    height: 100vh;
    background-color: #4a6e85;
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

#bgOpacity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #4747476b;

}

#boxPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.flexLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boxPrincipal #boxLogo {
    height: auto;
    object-fit: cover;
    margin-left: -20px;
    margin-top: 5%;

}

#boxPrincipal #boxLogo img {
    margin-top: 18px;
    width: 100px;
    margin-left: 18px;
    filter: drop-shadow(2px 2px 4px #d37b07)
}

#boxPrincipal #boxLogo #nomeApp {
    font-family: Dunkin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 5px;
}

#boxPrincipal #boxLogo #nomeApp #lblClima {
    text-shadow: 2px 2px 6px #d37b07;
    margin-left: -2px;
    color: #FFF;
}

#boxPrincipal #boxLogo #nomeApp #lblTempo {
    color: #EC9929;
    margin-top: -14px;
    margin-left: -18px;
    transform: rotate(-5deg);
    text-shadow: 2px 2px 6px #CBF7FF;

}


#boxInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #5F839AAA 40%, #4a6e85AA 80%);
    width: 450px;
    height: auto;
    margin-top: 20px;
}


#boxInput input {
    text-align: center;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 16px;
    filter: drop-shadow(0px 0px 6px #99c4cc);
    outline: none;
    background-color: #d9eaf5;
    color: #d37b07;
    font-size: 18px;
    font-weight: 600;
    transition: filter 0.3s;
}

#boxInput input:hover,
#boxInput:focus {
    filter: drop-shadow(0px 0px 7px #CBF7FF);
}

#boxInput input::placeholder {
    color: #bd8b4b;
}

#boxButton {
    margin-top: 20px;
}

#boxButton button {
    background-color: #d37b07;
    filter: drop-shadow(0px 0px 4px #CBF7FF);
    border-radius: 50px;
    border: none;
    width: 90px;
    height: 90px;
    transition: all 0.5s;
    padding: 20px;


}

#boxButton img {
    width: 100%;
}

#boxButton button:hover {
    filter: drop-shadow(0px 0px 6px #CBF7FF);

}

#boxButton button:active {
    background: #633a05;
    filter: drop-shadow(0px 0px 10px #CBF7FF);
}

#creditos {
    margin-top: 10%;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    text-shadow: 0px 0px 1px #000;
}

#creditos a {
    text-decoration: none;
    color: #fff;
}

#creditos a:visited {
    color: #fff;
}

#creditos a:hover {
    color: #faa83d;
    text-decoration: underline;
}

#boxResult,
#boxAvisos {
    background: linear-gradient(to bottom, #5A819888, #21485f88);
    filter: drop-shadow(0 0 2px #CBF7FF);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    max-height: auto;
    opacity: 0;
    margin-top: 20px;
    transform: translateY(-40px);
}

#boxResult #titleResult {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#boxResult #titleResult label {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin: 3px;
}

#boxResult #titleResult img {
    width: 40px;
}

#boxResult #boxTemperatura {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

#boxResult #boxTemperatura label {
    text-align: center;
    width: 50%;
    font-size: 44px;
    color: #fff;
    font-weight: 600;

}

#boxResult #boxTemperatura picture {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    text-align: center;
    border-left: 4px solid #fff;
    margin: 0;
}

#boxResult #boxTemperatura picture label {
    font-size: 16px;
    font-weight: 400;
}

#boxResult #boxTemperatura img {
    width: 80px;
}

#boxResult #boxInfoRestantes {
    border-top: 2px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#boxResult #boxInfoRestantes #umidade,
#velocidade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 8px;
}

#boxResult #boxInfoRestantes #umidade img,
#velocidade img {
    width: 30px;
}

#boxResult #boxInfoRestantes #umidade label,
#velocidade label {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
}

#boxAvisos {
    background: linear-gradient(to bottom, #ec202088, #c70a0a88);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 450px;

}

#boxAvisos label {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 10px;
}

#boxAvisos img {
    margin-bottom: 10px;
    width: 40px;
}

.hidden {
    display: none !important;
}

.showAnimation {

    animation-name: mostrarAvisos;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes mostrarAvisos {
    from {
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 400px) {

    #boxInput,
    #boxResult,
    #boxAvisos {
        width: 280px;
    }

    #boxResult #titleResult {
        flex-direction: column;
        text-align: center;
    }

    #boxInput input {
        font-size: 16px;
    }
}

@media screen and (min-width: 401px) and (max-width: 640px) {

    #boxInput,
    #boxResult,
    #boxAvisos {
        width: 350px;
    }

    #boxResult #titleResult {
        flex-direction: column;
        text-align: center;
    }
}